<div class="main-container">
  <div *ngFor="let film of filmList">
    <mat-card>
      <img mat-card-image [src]="film.poster_path ? (imageUrl + film.poster_path) : ('./../../../../assets/movie-poster-coming-soon.png')" alt="Film poster">
      <mat-card-header>
        <mat-card-title
          [matTooltip]="film.title"
          matTooltipClass="title-tooltip"
          [matTooltipShowDelay]="1000">
            {{ film.title }}
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
          {{ film.release_date |date }}
        </p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
